[submodule "file-service-repository"]
	path = file-service-repository
	url = https://github.com/Lv-447-Python/file-service-repository.git
[submodule "API-Gateway"]
	path = API-Gateway
	url = https://github.com/Lv-447-Python/API-Gateway.git
[submodule "history-service-repository"]
	path = history-service-repository
	url = https://github.com/Lv-447-Python/history-service-repository.git
[submodule "user-service-repository"]
	path = user-service-repository
	url = https://github.com/Lv-447-Python/user-service-repository.git
[submodule "file_generation_service_repository"]
	path = file_generation_service_repository
	url = https://github.com/Lv-447-Python/file_generation_service_repository.git
[submodule "file_sharing_service_repository"]
	path = file_sharing_service_repository
	url = https://github.com/Lv-447-Python/file_sharing_service_repository.git
[submodule "frontend-components"]
	path = frontend-components
	url = https://github.com/ss-m-ivanov/frontend-components.git

